mirrors:
  registry.ericxliu.me:
    endpoint:
      - "https://registry.ericxliu.me:433"
configs:
  "registry.ericxliu.me:433":
    auth:
      username: master # this is the registry username
      password: 3qDQp36RCuVEiaN@ # this is the registry password
